{% extends "base.html" %}

{% block title %}Read and Chill | {{ bookname }}{% endblock %}

{% block navigation %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link text-muted" href="{{ url_for('books.home') }}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="{{ url_for('auth.settings') }}">Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="{{ url_for('auth.logout') }}">Sign out</a>
  </li>
</ul>
{% endblock %}

{% block content %}
{{ super() }}
<div class="card text-white bg-dark mb-3">
  <div class="card-header">
    <h3 class="font-italic mt-2">{{ bookname }}</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">By: {{ author|join(', ') }}</h5>
    {% if average_rating %}
    <span class="badge badge-warning">{{ average_rating }} / 5</span>
    {% endif %}
    {% if description %}
    <p class="card-text">{{ description }}</p>
    {% endif %}
    <p class="card-text d-flex flex-column">
      {% if categories %}
      <span class="text-muted d-flex flex-row mb-1">
        {% for category in categories %}
        <span class="badge badge-primary">{{ category }}</span>
        {% endfor %}
      </span>
      {% endif %}
      <small class="text-muted">ISBN: {{ isbn }}</small>
    </p>
  </div>
</div>
{% if my_rating and my_review%}
<div class="card text-white bg-dark">
  <div class="card-body">
    <h5 class="card-title font-italic">{{ saved_book.rating }} / 5</h5>
    <p class="card-text">{{ saved_book.review }}</p>
    <a href="#" class="ml-auto card-link">Edit</a>
  </div>
</div>
{% else %}
<div class="d-flex flex-row">
  <a href="{{ url_for('books.review', id=book_id) }}" class="ml-auto btn btn-outline-primary" role="button"
    aria-pressed="true">Add My Review</a>
</div>
{% endif %}
{% endblock %}