{% extends "base.html" %}

{% block title %}Read and Chill | Browse{% endblock %}

{% from "./books/render_forms.html" import form_field %}

{% block style %}
<style>
    .no-bullets ul {
        list-style-type: none;
        display: inline-block;
    }
</style>

{% endblock style %}

{% block content %}
  <h3>Welcome to the search!</h3>

  <form method="POST">
      {{ form.csrf_token }}
      {{ form_field(form.search) }}
      {{ form_field(form.submit) }}
  </form>

  <hr>

  <ol>
  {% for key, value in dict.items() %}
      <li> <b> {{key}} </b> by <i> {{value}} </i> <br> </li>
  {% endfor %}
  </ol>

  {% for i in pics %}
    <img src={{i}}> Hello </img>
  {% endfor %}

  {% if results is not none %}

    {% for i in books %}

      {% for card_list in results %}

      {% endfor %}

    {% endfor %}

  {% endif %}

  {% if results == [] %}
  <br><br><br>
  <p class="text-center"><em>No cards found!</em></p>
  {% endif %}
{% endblock content %}
