{% extends "base.html" %}

{% block title %}Read and Chill | Home{% endblock %}

{% block navigation %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link text-muted" href="{{ url_for('books.home') }}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="{{ url_for('auth.settings') }}">Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="{{ url_for('auth.logout') }}">Sign out</a>
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="d-flex flex-row align-items-center justify-content-between bg-dark text-white rounded p-3 mb-3">
  <h3 class="pt-2">Welcome back, {{ display_name }}!</h3>
  <a role="button" class="btn btn-outline-light" href="{{ url_for('books.lookup_book') }}">
    <svg class="bi bi-file-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V8h-1v5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5V1z" />
      <path fill-rule="evenodd"
        d="M13.5 1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z" />
      <path fill-rule="evenodd" d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z" />
    </svg>
    <small class="ml-1 align-middle">Add a Book</small>
  </a>
</div>
<div class="btn-group-vertical d-flex justify-content-center">
  <a role="button" class="btn btn-outline-dark" href="{{ url_for('friends.profile') }}">Profile</a>
  <a role="button" class="btn btn-outline-dark" href="{{ url_for('books.browse') }}">Browse Books</a>
  <a role="button" class="btn btn-outline-dark" href="{{ url_for('books.my_books') }}">See All My Books</a>
  <a role="button" class="btn btn-outline-dark" href="#">Match</a>
</div>
{% endblock %}