<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block style %}{% endblock %}
  <title>{% block title %}{% endblock %} | Book Tinder</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
</head>

<body>
  {% block main %}{% endblock %}

  {% block footer %}
  <footer class="fixed-bottom mx-auto text-center text-dark mb-2">
    <span>Copyright &copy; Edgy Fireflies 2020</span>
  </footer>
  {% endblock %}

  {% block script %}{% endblock %}
</body>

</html>
