{% extends "base.html" %}

{% block title %}Read and Chill | Edit Profile{% endblock %}

{% block navigation %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link text-muted" href="{{ url_for('books.home') }}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="{{ url_for('auth.settings') }}">Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="{{ url_for('auth.logout') }}">Sign out</a>
  </li>
</ul>
{% endblock %}

{% block content %}
{{ super() }}
<div class="bg-dark text-white rounded px-3 mb-3 shadow-sm">
  <h3 class="py-3">Edit Profile</h3>
</div>
<form class="d-flex flex-column" method="POST">
  <div class="form-group">
    <label for="bio">Bio</label>
    <textarea class="form-control" name="bio" id="bio" rows="7" autocomplete="on" maxlength="1024"
      required>{{ bio }}</textarea>
  </div>
  <button type="submit" class="ml-auto btn btn-primary">Submit</button>
</form>
{% endblock %}