{% extends "base.html" %}

{% block title %}Read and Chill | Profile{% endblock %}

{% block navigation %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link text-muted" href="{{ url_for('books.home') }}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="{{ url_for('auth.settings') }}">Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="{{ url_for('auth.logout') }}">Sign out</a>
  </li>
</ul>
{% endblock %}

{% block content %}
{{ super() }}
<div class="card my-3 text-black bg-white shadow-sm rounded">
  <div class="card-body">
    <h5 class="card-title d-flex flex-row justify-content-between border-bottom mb-3 py-2">
      My Profile
      <a href="{{ url_for('friends.edit') }}" role="button" class="btn btn-outline-dark btn-sm">Edit</a>
    </h5>
    <div class="d-flex flex-row">
      <div class="mr-2">
        <svg class="bi bi-person-square" width="10em" height="10em" viewBox="0 0 16 16" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
          <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        </svg>
      </div>
      <div>
        <div class="container p-2">
          <p class="font-weight-bold">Username: <span class="align-middle badge badge-dark"> {{ username }} </span></p>
          <p class="font-weight-bold">Display Name: <span class="align-middle badge badge-dark"> {{ display_name }}
            </span></p>
          <p class="font-weight-bold">Bio: {{ bio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card my-3 text-dark bg-white shadow-sm rounded">
  <div class="card-body">
    <h5 class="card-title border-bottom pb-3">Recent Messages</h5>
  </div>
</div>
<div class="card-deck">
  <div class="card text-dark bg-white shadow-sm rounded">
    <div class="card-body">
      <h5 class="card-title border-bottom pb-3">Friends</h5>
    </div>
  </div>
  <div class="card text-dark bg-white shadow-sm rounded">
    <div class="card-body">
      <h5 class="card-title border-bottom pb-3">Reading List</h5>
      {% if saved_books %}
      <ul class="list-group">
        {% for saved_book in saved_books %}
        {% if saved_book.to_be_read %}
        <li class="list-group-item">{{ books[loop.index0].bookname }}</li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}